.card {
  height: 100px;
  width: 50%;
  background: #735bf2;
  color: #fff;
  border-radius: 10px;

  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.card strong {
  font-size: 18px;
}